#container {
    background: #ddddff;
    padding: 0 2em 1em 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#banner {
    text-align: center;
}

ul {
    list-style-type: none;
}

#menu ul input {
    font-size: 90%;
    width: 9.5em;
}

.loginTextbox {
    background: url('../img/openid.gif') no-repeat;
    padding-left: 18px;
    width: 15em;
}

#news div {
    margin-bottom: 1em;
}

#news div h5 {
    margin: 0;
}

#items {

}

.latest_img {
    width: 5em;
}

.form {
    border: solid #bbbbff;
    border-width: 1px 2px 2px 1px;
    padding: 0.5em;
}

.item {
    background: #ccccff;
    padding: 0.5em 0.5em 1em 0.5em;
    margin: 0.5em 0 0.5em 0;
}

.item h4 {
    margin: 0;
}

.item p {
    color: #000022;
    margin: 0;
}

.item div {
    font-style: italic;
}

.latest {
    border: solid #bbbbff;
    border-width: 1px 1px 1px 1px;
}

.item_latest {
    border: solid #bbbbff;
    border-width: 0 0 1px 0;
    padding: 0.25em;
    width: 100%;
    word-wrap: break-word;
}

.item_small_img {
    float: left;
    margin: 0 0.5em 0 0.5em;
    height: 5em;
}

.item_img {
    width: 100%;
}

.paginator {
    text-align: center;
}

div.spinner {
    float: right;
}

.sort {
    height: 2.5em;
}

.addItem div label,.register div label {
    float: left;
    margin-right: 1em;
    margin-top: 0.5em;
    text-align: right;
    width: 12em;
}


.login div label {
    float: left;
    margin-right: 1em;
    margin-top: 0.5em;
    text-align: right;
    width: 8em;
}


.checkbox {
    margin-bottom: 1em;
}

.required label {
    font-weight: bold;
}

.editList {
    list-style-type: none;
}

.editList li span {
    display: block;
    float: left;
    width: 150px;
}

/* MENU */

#cssm1 *  { padding:0; margin: 0; }

#cssm1 {
    z-index: 99;
    float: left;
    margin:0;
    line-height: 1.5em;
}

#cssm1 a {
    display: block;
    border-bottom: 2px solid #ddddff;
    background: #abc;
    text-decoration: none;
    padding: 0.25em 0.5em;
}

#cssm1 a:hover {
    background: #789;
}

#cssm1 span {
    display: block;
    border-bottom: 2px solid #ddddff;
    background: #abc;
    text-decoration: none;
    padding: 0.25em 0.5em;
}


#cssm1 ul li, #cssm1 ul li ul li  {
    width: 9em;
}

#cssm1 ul{
    display:block;
    list-style-type:none;
    width: 9em;
}

#cssm1 ul li ul, #cssm1:hover ul li ul, #cssm1:hover ul li:hover ul li ul {
    display:none;
}

#cssm1:hover ul, #cssm1:hover ul li:hover ul, #cssm1:hover ul li:hover ul li:hover ul {
    display:block;
}

#cssm1:hover ul li:hover ul, #cssm1:hover ul li:hover ul li:hover ul {
    position: relative;
    left: 9em; top: 0em;
}

#cssm1 ul li ul, #cssm1 ul li ul li ul {
    clear: left;
    margin-top: -2.25em;
}

